h1 {
	text-align: center;
}

#container {
	background-color: #003049;
	width: 90%;
	height: 500px;
	margin: 10px auto;
	border: 5px solid #003049;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	/* align-content: center; */
}

/* #test {
	align-self: flex-start;
}

#test2 {
	align-self: center;
} */

#container div {
	width: 200px;
	height: 100px;
	font-size: 2em;
	border-radius: 5px;
	text-align: center;
}

#container-3 {
	background-color: #003049;
	width: 90%;
	height: 500px;
	margin: 10px auto;
	border: 5px solid #003049;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
}


#container-3 div {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	font-size: 2em;
	text-align: center;
}